.AuthPage {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .description {
        color: $text-color;
        padding: 11px 0px;
        line-height: 32px;
        margin: 5.5px 0px;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        display: block;
        height: 200px;
        max-width: 320px;
    }

    .title {
        text-align: center;
        color: $black;
        line-height: 32px;
        font-weight: 700;
        font-size: 35px;
        padding: 10px;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto 19.5px;

    }

    input {
        border-radius: 62px;
        min-width: 320px;
        height: 42px;
        margin: auto 19.5px;
        padding: 10px;
        color: $primary-color;
        margin-bottom: 20px;
        display: flex;
        border: 1px solid $primary-color;
    }

    button{
        width: 230px;
        height: 56px;
        border-radius: 55px;
        background-color: $primary-color ;
        color: $white;
        font-weight: 700;
        font-size: 14px;
    }

    .backgroundImage {
        background-image: url('/client/assets/images/plugCar.svg');
        background-size: contain;
        width: 100vw;
        overflow: hidden;
        height: 100%;
        background-repeat: no-repeat;
        object-fit: contain;
        align-self: center;
        display: flex;
        z-index: -1;
        position: absolute;
        top: 0px;
    }
}