.navBar {
  background: #fff;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 12;

  @media (min-width: 600px) {
    top: 0px;
    padding: 30px;
  }

  .navBtn {
    display: flex;
    align-items: center;
  }

  .homeButton {
    margin-left: 20px;
    cursor: pointer;
    color: #333;
    font-size: 2rem;
    text-decoration: none;
  }

  .authButton {
    border-radius: 4px;
    background: #fff;
    padding: 10px 22px;
    color: #0069E0;
    outline: none;
    border: 1px solid #0069E0;
    border-radius: 62px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 0px;
  }

  .authButton:hover {
    transition: all 0.2s ease-in-out;
    background: #0078FF;
    color: #fff;
  }

  .navMenu { 
    display: flex;
    align-items: center;
  }


  .navbar-item {
    min-height: 44px;
  }

}
