.navBar {
  background: $white;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  
  @media (min-width: $desktop-width) {
    top: 0px;
    padding: 30px;
  }

  .navBtn {
    display: flex;
    align-items: center;
  }

  .homeButton {
    margin-left: 20px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
  }

  .authButton {
    border-radius: 4px;
    background: $white;
    padding: 10px 22px;
    color: $primary-color;
    outline: none;
    border: 1px solid $primary-color;
    border-radius: 62px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 0px;
  }

  .authButton:hover {
    transition: all 0.2s ease-in-out;
    background: $primary-color;
    color: $white;
  }

  .scanButton{
    display: flex;
    flex-direction: row;
   justify-items: space-between;
  }

  .buttonMargin{
    margin-left: 15px;
  }

  .navMenu { 
    display: flex;
    align-items: center;
  }


  .navbar-item {
    min-height: 44px;
  }

}
