.resultsPage{
.backgroundImage{
    background-image: url('/client/assets/images/plugCar.svg');
    width: 100vw;
    overflow: hidden;
    max-width: 693px;
    height: 600px;
    margin-top: -250px;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fit;
    align-self: center;
    z-index: -1;
}

}